body {
    background: #FEEFDD;
  }

#start-pauseBtn {
    background-color: #4CAF50;
    color:  white;
    border: .125rem solid #4CAF50;
    border-radius: .2rem;
    padding: .938rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: .25rem .125rem;
    cursor: pointer;
}

#reloadBtn {
    border: none;
    border-radius: .2rem;
    background-color: #33363D;
    color:  #F2F5F7;
     padding: .938rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: .25rem .125rem;
    cursor: pointer;
    
}

#time-left {
    margin: 0 .2rem;
}

#result {
    margin: 0 .2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}  

.grid { 
    border: 1px solid brown;
    height: 360px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

.grid div {
    height: 40px; 
    width: 40px;
}

.ending-block {
    background-color: red;
}

.starting-block {
    background-color: blue;
}

.l1, .l2, .l3 {
    background-color: brown;
}

.l4, .l5 {
    background-color: lightsteelblue;
}

.c1 {
    background-color: rgb(31, 26, 26);
}

.c2, .c3 {
    background-color: lightgray;
}

.frog {
    background-color: greenyellow;
    border-radius: 5px;
}

@media screen and (max-width: 921px) {
    .grid {
        border: 1px solid brown;
        height: 270px;
        width: 270px;
        display: flex;
        flex-wrap: wrap;
    }

    .grid div {
        height: 30px;
        width: 30px;
    }

    #start-pauseBtn {
        background-color: #4CAF50;
        color: #F2F5F7;
        border-radius: .2rem;
        padding: 1rem 1.2rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        margin: .25rem .125rem;
        cursor: pointer;
    }

    #reloadBtn {
        border-radius: .2rem;
        background-color: #33363D;
        color:  #F2F5F7;
        padding: 1.1rem 1.4rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        margin: .25rem .125rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) {
    .grid {
        border: 1px solid brown;
        height: 180px;
        width: 180px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .grid div {
        height: 20px;
        width: 20px;
    }

    #start-pauseBtn {
        background-color: #4CAF50;
        color: #F2F5F7;
        border-radius: 0.2rem;
        padding: .25rem .5rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: .875rem;
        margin: .25rem .125rem;
        cursor: pointer;
    }

        #reloadBtn {
            border-radius: .2rem;
            background-color: #33363D;
            color:  #F2F5F7;
            padding: .36rem .5rem;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: .875rem;
            margin: .25rem .125rem;
            cursor: pointer;
        }
    
}




.sln-service, #sln-salon .sln-service {
    margin-bottom: 4em;
    padding-top: 2em;
}


